.taro-index{
    width: 100%;
    .token-moudle{
        margin-top: 10PX;
        font-size: 15PX;
        .token{
            color: #ff00ff;
            background-color:#eeeeee;
             padding: 10PX;
             border-radius: 25PX;
        }
    }

    .nav{

    }
    .components{
      margin-top: 32PX;
    }
}
