.base-module{
    width: 100%;

    .title{

    }
    .module-name{
      display: flex;
      align-items: center;
      padding: 1.28rem;
      height: 3.84rem;
      .module-title{
          font-size: 14PX;
          color: #000000;
      }

    }
}
